{% load static %}
<html lang="en">
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Unicorn Devt group" />
		<meta name="keywords" content="Unicorn Administration Panel" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="shortcut icon" href="{% static 'admin/img/favicon.ico' %}" />
		<title>{% block title%}Unicorn| Signin{% endblock title %}</title>

<!--		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">-->

		<!-- Common CSS -->
		<link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/fonts/icomoon/icomoon.css' %}" />

		<!-- Unicorn Stylesheets -->
		<link rel="stylesheet" href="{% static 'admin/css/main.css' %}" />

	</head>
<body class="login-bg">
</body>
{% block content %}
{% endblock %}