
{% load static %}
<!-- jQuery first, then Tether, then other JS. -->
		<script src="{% static 'admin/js/jquery.js' %}"></script>
		<script src="{% static 'admin/js/tether.min.js' %}"></script>
		<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'admin/vendor/unifyMenu/unifyMenu.js' %}"></script>
		<script src="{% static 'admin/vendor/onoffcanvas/onoffcanvas.js' %}"></script>
		<script src="{% static 'admin/js/moment.js' %}"></script>
     <!--Search-->
		<script src="{% static 'admin/js/search.js' %}"></script>
		<script src="{% static 'admin/js/input.js' %}"></script>
<!--		Ratings-->
		<script src="{% static 'admin/js/rate.js' %}"></script>
		<!-- Slimscroll JS -->
		<script src="{% static 'admin/vendor/slimscroll/slimscroll.min.js' %}"></script>
		<script src="{% static 'admin/vendor/slimscroll/custom-scrollbar.js' %}"></script>

		<!-- Chartist JS -->
		<script src="{% static 'admin/vendor/chartist/js/chartist.min.js'%}"></script>
		<script src="{% static 'admin/vendor/chartist/js/chartist-tooltip.js'%}"></script>
		<script src="{% static 'admin/vendor/chartist/js/custom/custom-line-chart.js'%}"></script>
		<script src="{% static 'admin/vendor/chartist/js/custom/custom-line-chart1.js' %}"></script>
		<script src="{% static 'admin/vendor/chartist/js/custom/custom-area-chart.js' %}"></script>
		<script src="{% static 'admin/vendor/chartist/js/custom/donut-chart2.js' %}"></script>
		<script src="{% static 'admin/vendor/chartist/js/custom/custom-line-chart4.js' %}"></script>

		<!-- Data Tables -->
		<script src="{% static 'admin/vendor/datatables/dataTables.min.js' %}"></script>
		<script src="{% static 'admin/vendor/datatables/dataTables.bootstrap.min.js' %}"></script>

		<!-- Custom Data tables -->
		<script src="{% static 'admin/vendor/datatables/custom/custom-datatables.js' %}"></script>
		<script src="{% static 'admin/vendor/datatables/custom/fixedHeader.js' %}"></script>

		<!-- Common JS -->
		<script src="{% static 'admin/js/common.js' %}"></script>


