{% load static %}
<html dir="ltr" data-config='{"style": "default"}'>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="business finance, consultancy, multi page, corporate, ecommerce shop, one page, html, financial, money, business, responsive, arrowthemes" />
  <meta name="description" content="Unicorn IT courses in software development and Data Science" />
  <meta name="author" content="arrowthemes">
  <title>{% block title %}Unicorn | IT-Courses {% endblock %}</title>

  <!-- fav icon -->
  <link href="{% get_static_prefix %}it-training/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="{% get_static_prefix %}it-training/images/apple-touch-icon.html" rel="apple-touch-icon">

  <!-- css -->
  <link rel="stylesheet" href="{% get_static_prefix %}it-training/css/plyr.css">

  <link rel="stylesheet" href="{% get_static_prefix %}it-training/css/default/bootstrap.css">
  <link rel="stylesheet" href="{% get_static_prefix %}it-training/css/default/theme.css">

  <link rel="stylesheet" href="{% get_static_prefix %}it-training/css/custom.css">
</head>
{% block body %}
{% endblock %}