{% load static %}
<nav class="tm-navbar uk-navbar" data-uk-sticky>
    <div class="uk-container uk-container-center">
      <ul class="uk-navbar-nav uk-hidden-small">

		  <!-- menu -->
		    <!-- home menu -->
  <li class="uk-parent" data-uk-dropdown><a href="index9ba3.html?page=home">Home</a>
    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
      <div class="uk-grid uk-dropdown-grid">
        <div class="uk-width-1-1">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="#">Business Layout</a></li>
            <li><a href="#">Boxed Layout</a></li>
            <li><a href="#">Corporate Layout</a></li>
            <li><a href="index945e.html?page=one-page-layout&amp;header=default&amp;layout=boxed">One Page Layout</a></li>
            <li><a href="index40da.html?page=minimal-layout&amp;header=default">Minimal Layout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>

  <!-- theme menu -->
  <li class="uk-parent" data-uk-dropdown><a href="#">Theme</a>
    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
      <div class="uk-grid uk-dropdown-grid">
        <div class="uk-width-1-1">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexfd8b.html?page=module-layouts&amp;header=default">Module Layouts</a></li>
            <li class="uk-parent"><a href="#">Header Layouts</a>
              <ul class="uk-nav-sub">
                <li><a href="indexf7e9.html?page=header-default&amp;header=default">Header Default</a></li>
                <li><a href="indexa9d9.html?page=header-center&amp;header=center">Header Center</a></li>
                <li><a href="indexdda3.html?page=header-right&amp;header=right">Header Right</a></li>
                <li><a href="index75de.html?page=header-full-right&amp;header=full-right">Header Full Right</a></li>
              </ul>
            </li>
            <li><a href="index6053.html?page=uikit-elements">UIkit Elements</a></li>
            <li><a href="index9027.html?page=color-styles">Color Styles</a></li>
            <li><a href="index206c.html?page=rtl-language-support&amp;direction=rtl">RTL Language Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>

  <!-- Pages menu -->
  <li class="uk-parent" data-uk-dropdown><a href="#">Pages</a>
    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
      <div class="uk-grid uk-dropdown-grid">
        <div class="uk-width-1-1">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexe2c5.html?page=about-us">About Us</a></li>
            <li class="uk-parent"><a href="#">Our Team</a>
              <ul class="uk-nav-sub">
                <li><a href="index5f8e.html?page=our-team-basic">Our Team - Basic</a></li>
                <li><a href="index4bf1.html?page=our-team-extended">Our Team - Extended</a></li>
                <li><a href="indexf8d6.html?page=our-team-filter">Our Team - Filter</a></li>
              </ul>
            </li>
            <li><a href="indexb80f.html?page=our-history">Our History</a></li>
            <li><a href="index478e.html?page=our-philosophy">Our Philosophy</a></li>
            <li><a href="indexc5d9.html?page=our-services">Our Services</a></li>
            <li><a href="index8492.html?page=our-pricing">Our Pricing</a></li>
            <li><a href="indexac8f.html?page=our-rates">Our Rates</a></li>
            <li class="uk-parent"><a href="#">Gallery</a>
              <ul class="uk-nav-sub">
                <li class="uk-parent"><a href="#">Single portfolio</a>
                  <ul class="uk-nav-sub">
                    <li><a href="indexe8e8.html?page=half-image">Half Image</a></li>
                    <li><a href="indexd410.html?page=half-image-slider">Half Image Slider</a></li>
                    <li><a href="index1c5c.html?page=full-image">Full Image</a></li>
                    <li><a href="index2012.html?page=full-image-slider">Full Image Slider</a></li>
                  </ul>
                </li>
                <li class="uk-parent"><a href="#">Gallery Layout</a>
                  <ul class="uk-nav-sub">
                    <li><a href="index35b8.html?page=2-column-gallery">2 Column Gallery</a></li>
                    <li><a href="index37c9.html?page=3-column-gallery">3 Column Gallery</a></li>
                    <li><a href="index6298.html?page=4-column-gallery">4 Column Gallery</a></li>
                  </ul>
                </li>
                <li class="uk-parent"><a href="#">Grid Layout</a>
                  <ul class="uk-nav-sub">
                    <li><a href="index45ca.html?page=2-column-grid">2 Column Grid</a></li>
                    <li><a href="index4f47.html?page=3-column-grid">3 Column Grid</a></li>
                    <li><a href="index2afe.html?page=4-column-grid">4 Column Grid</a></li>
                  </ul>
                </li>
                <li><a href="indexd938.html?page=portfolio-blocks">Portfolio Blocks</a></li>
                <li><a href="index3594.html?page=masonry-layout">Masonry Layout</a></li>
                <li><a href="index85b4.html?page=no-margin-layout">No margin Layout</a></li>
              </ul>
            </li>
            <li><a href="index86da.html?page=testimonials">Testimonials</a></li>
            <li><a href="index7ede.html?page=faqs">FAQs</a></li>
            <li><a href="index4d9f.html?page=404">404 Error page</a></li>
            <li><a href="index5084.html?page=contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>

  <!-- Timetable menu -->
  <li><a href="indexf608.html?page=timetable">Timetable</a></li>

  <!-- elements menu -->
  <li class="uk-parent" data-uk-dropdown><a href="#">Elements</a>
    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-4">
      <div class="uk-grid uk-dropdown-grid">

        <!-- first dropdown column -->
        <div class="uk-width-1-4">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexbeac.html?page=elements-typography">Typography</a></li>
            <li><a href="index6faf.html?page=elements-column-blocks">Column Blocks</a></li>
            <li><a href="index41a9.html?page=elements-buttons">Buttons</a></li>
            <li><a href="index8134.html?page=elements-dropdowns">Dropdowns</a></li>
            <li><a href="indexf26e.html?page=elements-alerts">Alerts &amp; Badges</a></li>
            <li><a href="index66cb.html?page=elements-panels">Panels</a></li>
          </ul>
        </div>

        <!-- second dropdown column -->
        <div class="uk-width-1-4">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexdbbe.html?page=elements-accordion">Accordion &amp; Toggles</a></li>
            <li><a href="indexd015.html?page=elements-tooltips">Tooltips</a></li>
            <li><a href="indexccb7.html?page=elements-progress">Progress Bar</a></li>
            <li><a href="indexb8b2.html?page=elements-tabs">Tabs</a></li>
            <li><a href="index0c1f.html?page=elements-tables">Tables</a></li>
            <li><a href="index09dc.html?page=elements-images">Images</a></li>
          </ul>
        </div>

        <!-- third dropdown column -->
        <div class="uk-width-1-4">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexc854.html?page=elements-modal-box">Modal Box</a></li>
            <li><a href="indexb562.html?page=elements-lightbox">Lightbox</a></li>
            <li><a href="index9915.html?page=elements-slideshow">Slideshow</a></li>
            <li><a href="indexef15.html?page=elements-dynamic-grid">Dynamic Grid</a></li>
            <li><a href="index747b.html?page=elements-animation">Animation</a></li>
            <li><a href="index5de5.html?page=elements-counter">Counter</a></li>
          </ul>
        </div>

        <!-- fourth dropdown column -->
        <div class="uk-width-1-4">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexb18a.html?page=elements-slider">Slider</a></li>
            <li><a href="index1c2a.html?page=elements-parallax">Parallax</a></li>
            <li><a href="index9fcb.html?page=elements-icons">Icons</a></li>
            <li><a href="index674e.html?page=elements-cards">Cards</a></li>
            <li><a href="index2333.html?page=elements-audio-video">Audio/Video</a></li>
            <li><a href="index904b.html?page=elements-timeline">Timeline</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>

  <!-- News menu -->
  <li class="uk-parent" data-uk-dropdown><a href="indexbc7f.html?page=news">News</a>
    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
      <div class="uk-grid uk-dropdown-grid">
        <div class="uk-width-1-1">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="indexbc7f.html?page=news">News Category</a></li>
            <li><a href="index9fbc.html?page=news-item">News Item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>

  <!-- Shop menu -->
       <li class="uk-parent" data-uk-dropdown><a href="index78fb.html?page=shop-grid">Shop</a>
    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
      <div class="uk-grid uk-dropdown-grid">
        <div class="uk-width-1-1">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="index78fb.html?page=shop-grid">Shop Grid</a></li>
            <li><a href="index74b2.html?page=shop-cart">Shop Cart</a></li>
            <li><a href="index7281.html?page=shop-checkout">Shop Checkout</a></li>
            <li><a href="index6a13.html?page=shop-single-product">Shop Single Product</a></li>
          </ul>
        </div>
      </div>
    </div>
  </li>
      </ul>
    </div>
  </nav>