{% load static %}
<!-- js -->
  <script src="../../../ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>

  <!-- uikit -->
      <script src="{% get_static_prefix %}it-training/vendor/uikit/js/uikit.min.js" type="text/javascript"></script>

  <script src="{% get_static_prefix %}it-training/vendor/uikit/js/uikit-core-components.js" type="text/javascript"></script>

  <!-- theme -->
  <script src="{% get_static_prefix %}it-training/js/plyr.js" type="text/javascript"></script>
  <script src="{% get_static_prefix %}it-training/js/theme.js" type="text/javascript"></script>